/* Ordered by order of appearance in HTML*/

/* Color scheme from darkest to lightest
1. Black
2. #001e7f
3. #003cff
4. #7f9dff
5. White
*/

/* Main Stuff */
* {
	font-family: 'Roboto', sans-serif;
	color: white;
}

body {
	background-color: whitesmoke;
}

/* Navbar */
nav ul {
	position: fixed;
	top: 0;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 50px;
	overflow: hidden;
	background-color: #003cff;
	box-shadow: 0 8px 6px -6px black;
	z-index: 5;
}

nav ul li {
	float: left;
	font-size: 0;
}

nav ul li a {
	display: block;
	text-decoration: none;
	text-align: center;
	padding: 10px;
	font-size: 20px;
	height: 50px;
	line-height: 30px;
}

nav ul li a:hover {
	background-color: rgba(0, 0, 0, 0.322);
	transition: 0.3s ease;
}

#myNameCont {
	position: fixed; 
	transform: translate(-50%, -10%); 
	left: 50%;
}

#myName {
	font-size: 32px; 
	height: 50px;
	display: block;
	text-align: center;
	padding: 10px;
	color: white;
	font-weight: bold;
}

#navRight {
	float: right; 
	margin-right: 5px;
}

/* Header */
header {
	height: 75vh;
	margin-top: 50px;
	position: relative;
	z-index: 0;
	background-color: #7f9dff;
}

header img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: auto;
	width: auto;
	max-width: 1200px;
	max-height: 600px;
	box-shadow: 0 0px 10px 3px black;
}

#hdrTxt {
	color: white;
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 45px;
}

#hdrDateTime {
	color: white;
	position: absolute;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

#headerDate, #headerTime {
	padding: 3px;
	margin: 0;
	font-size: 20px;
}

#readMoreBn {
	text-decoration: none;
	padding: 5px;
	border: 3px solid #003cff;
	color: white;
	background-color: transparent;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 20px;
	transition: 0.5s ease;
}

#readMoreBn:hover {
	background-color: #003cff;
	border-color: #003cff;
}

h1, h2, h3 {
	text-align: center;
	color: black;
}

hr {
	border: 4px solid black;
	border-radius: 5px;
	width: 100px;
}

/* About Me */
#aboutMe {
	margin-top: 0;
	padding: 10px;
}

#aboutMeBio {
	width: 70%;
	margin: 30px auto 30px auto;
	background-color: #003cff;
	position: relative;
	height: 300px;
}

#aMBDiv1 {
	display: inline-block;
	background-color: #001e7f;
	position: absolute;
	height: 100%;
}

#aMBDiv2 {
	display: inline-block;
	position: absolute;
	left: 23%;
	top: 50%;
	transform: translate(0%, -50%);
	padding: 10px;
	color: white;
}

#myPic {
	border-radius: 50%;
	padding: 20px;
	margin-top: auto;
	margin-bottom: auto;
}

#aboutMeDesc {
	position: relative;
	width: 70%;
	margin: 30px auto 30px auto;
	height: 300px;
}

#eduBox {
	display: inline-block;
	background-color: #003cff;
	position: absolute;
	height: 100%;
	width: 30%;
}

#skillsBox {
	display: inline-block;
	background-color: #001e7f;
	position: absolute;
	left: 30%;
	height: 100%;
	width: 70%;
	text-align: center;
}

#subSkillsBox {
	display: inline-block;
	width: 100%;
	height: 100%;
	position: relative;
}

#subSkillsBox div {
	position: absolute;
	width: 33%;
	left: 50%;
	height: 100%;
	transform: translate(-50%, 0%);
	color: white;
}

#experienceContainer {
	background-color: #003cff;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

#experienceTitle {
	color: white;
	padding: 10px;
	background-color: #001e7f;
	margin-bottom: 0;
}

#expBoxContainer {
	margin: 0;
	padding: 0;
	overflow: auto;
	max-height: 400px;
}

.expBox {
	border-bottom: 3px solid black;
}

.expBox:last-child {
	border: none;
}

.expHeader {
	color: white;
	text-align: left;
	padding-left: 5px;
}

.expDesc {
	color: white;
	padding-left: 5px;
}

#resumeBn {
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	text-decoration: none;
	background-color: #001e7f;
	margin-bottom: 30px;
	color: white;
	transition: 0.3s ease;
}

#resumeBn:hover {
	background-color: #003cff;
}

/* Projects */
#projects {
	margin-top: 0;
	padding: 10px;
	background-color: #7f9dff;
}

.projTitle {
	margin-bottom: 0;
	padding-bottom: 0;
	font-size: 24px;
}

.projSubtitle {
	margin-top: 0;
	padding-top: 0;
}

#projsGrid {
	display: grid;
	grid-template-columns: auto auto auto;
}

.projCard {
	background-color: #001e7f;
	width: 500px;
	text-align: center;
	margin: 10px auto 10px auto;
	padding: 5px 25px 5px 25px;
	transition: 0.4s ease;
}

.projCard:hover {
	box-shadow: 0 0px 10px 3px black;
	background-color: #003cff;
}

/* Contact Me */
#contactMe {
	margin-top: 0;
	padding: 10px;
}

form {
	background-color: #001e7f;
	padding: 20px;
	width: 30%;
	margin: 30px auto 30px auto;
	box-shadow: 0 0 10px 0 black;
}

label {
	font-weight: bold;
	font-size: 20px;
	color: white;
}

#nameInput, #emailInput {
	border: none;
	border-bottom: 4px solid black;
	margin: 10px;
	margin-bottom: 20px;
	padding-top: 10px;
	padding-left: 2px;
	font-size: 18px;
	width: 95%;
	color: black;
}

#msgInput {
	border: 4px solid black;
	margin: 10px;
	margin-bottom: 20px;
	resize: vertical;
	width: 95%;
	font-size: 18px;
	color: black;
}

#nameInput:focus, #emailInput:focus, #msgInput:focus {
	border-color: #003cff;
	transition: 0.2s ease;
}

#submitBn {
	margin: 10px;
	cursor: pointer;
	border: none;
	background-color: black;
	padding: 10px;
	font-size: 18px;
	color: white;
}

#submitBn:hover {
	background-color: #003cff;
	transition: 0.3s ease;
}

/* Footer */
footer {
	background-color: black;
	padding: 30px;
	text-align: center;
	color: white;
}

footer a {
	text-decoration: none;
	color: white;
	padding-left: 8px;
	padding-right: 8px;
}

footer a:hover {
	color: lightgrey;
}

footer p {
	color: white;
	padding-bottom: 0;
	margin-bottom: 0;
}


/* Media Query for mobile responsiveness */
@media screen and (max-width: 800px) {
	/*
	1. Dropdown menu from Nicolas Layne, keep the icons
	2. asd
	*/

	nav ul {
		width: 90vw;
	}

	header img {
		width: 95%;
		height: 50vh;
	}

	#hdrDateTime {
		display: none;
	}

	#aboutMeBio {
		width: 100%;
	}

	#experienceContainer, #aboutMeDesc {
		width: 100%;
	}


	#projsGrid {
		grid-template-columns: auto;
	}

	.projCard {
		width: 85%;
	}

	.projImg {
		width: 100%;
	}

	form {
		width: 80vw;
	}
}