* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #212121;
}

body {
    background-color: #EAEAEA;
}

/*      NAV     */
.navbar {
    list-style-type: none;
    display: block;
    background-color: #212121;
    color: #EAEAEA;
}

.navbar * {
    color: #EAEAEA;
    text-decoration: none;
}

.navbar a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.navbar a.icon {
    background-color: #212121;
    display: inline-block;
}

.navbar a.icon:hover {
    background-color: #404040;
}

#navLinks {
    display: none;
}

.navLogos {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0%;
    right: 0%;
}

.navLogos *:hover {
    background-color: #404040;
}

/*      Header     */
header {
    display: grid;
    place-items: center;
    height: 400px;
    width: 100vw;
}

.headerBox {
    border-left: 5px solid #212121;
    padding: 0 20px;
}

.headerName {
    font-size: 72px;
}

.headerTitle {
    font-size: 32px;
    color: #505050;
}

#hdrDateTime {
    margin-top: 25px;
}

#hdrDateTime * {
    font-size: 16px;
}

/*      About Me     */
.aboutMe {
    background-color: #fafafa;
}

.aboutMeBio {
    display: flex;
    flex-direction: row;
    place-items: center;
    margin: 0 auto;
    width: 50%;
}

.myPicDiv {
    border-right: 3px solid #212121;
    padding: 0 15px;
    margin: 50px 0;
}

.myPic {
    border-radius: 50%;
    border: 3px solid #212121;
}

.myDesc {
    padding: 0 15px;
    margin: 50px 0;
}

.myDesc h2 {
    font-size: 32px;
    margin: 10px 0;
}

.myDesc p {
    font-size: 18px;
    color: #404040;
}

.aboutMeDesc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 80px;
}

.aboutMeDesc div h2 {
    border-bottom: 2px solid #212121;
    margin-bottom: 10px;
    padding-bottom: 3px;
}

.eduBox * {
    margin: 8px 0;
}

.expBox {
    margin: 12px 0;
    max-width: 25vw;
}

.subSkill {
    margin: 12px 0;
}

.resumeDiv {
    text-align: center;
    padding: 45px;
}

.resumeBn {
    background-color: #212121;
    color: #fafafa;
    padding: 15px;
    margin: 25px auto;
    transition: 0.3s ease;
    display: block;
    width: 200px;
    text-decoration: none;
}

.resumeBn:hover {
    background-color: #505050;
}


/*      Projects       */
.projsHdr {
    text-align: center;
    margin-top: 30px;
    font-size: 32px;
    font-weight: bold;
}

.projsGrid {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 100px;
}

.projCard {
    width: 450px;
    margin: 30px auto;
    background-color: #fafafa;
    padding: 15px;
    text-align: center;
    box-shadow: 3px 3px 8px #212121;
}

.projImg {
    width: 90%;
    margin: 15px auto;
}

.projDesc {
    text-align: left;
    margin: 15px auto;
}


/*      Contact Me      */
.contactMe {
    text-align: center;
    background-color: #fafafa;
}

.contactMeForm {
    background-color: #EAEAEA;
    margin: 15px auto;
    display: inline-block;
    text-align: left;
    padding: 20px;
    box-shadow: 3px 3px 8px #212121;
}

.contactMeForm * {
    display: block;
}

.formHdr {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

.formLabel {
    margin: 15px 0;
    font-size: 18px;
    font-weight: bold;
}

.nameInput, .emailInput, .msgInput {
    font-size: 16px;
    padding: 5px;
}

.msgInput {
    resize: vertical;
}

.submitBn {
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #212121;
    border: none;
}

/*      Footer      */
footer {
    background-color: #212121;
    padding: 35px;
    text-align: center;
}

footer * {
    color: #EAEAEA;
}



/*      Media Query       */
@media only screen and (max-width: 600px) {
    .aboutMeBio {
        flex-direction: column;
        width: 95%;
    }

    .myPicDiv {
        border: none;
        margin: 30px 0;
        margin-bottom: 10px;
    }

    .myDesc {
        margin: 20px 0;
        margin-top: 10px;
    }

    .aboutMeDesc {
        flex-direction: column;
        row-gap: 25px;
    }

    .projsGrid {
        grid-template-columns: auto;
    }

    .projCard {
        width: 85%;
    }

    .contactMeForm {
        padding: 10px;
        width: 85%;
    }

    .msgInput {
        width: 95%;
    }

    .submitBn {
        margin-left: auto;
        margin-right: auto;
    }
}