/* Order by Alphabet or Level/Priority at some point*/

* {
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: #d4d4d4;
}

footer {
	background-color: #c23b22;
	color: white;
	height: 20vh;
}

form {
	display: flex;
	flex-direction: column;
}

input[type=text], input[type=email] {
	box-sizing: border-box;
	border-radius: 4px;
}

input[type=text]:focus, input[type=email]:focus {
	border: 2px solid darkred;
}

input[type=submit] {
	box-sizing: border-box;
	margin: 10px;
	padding: 10px;
	border-radius: 4px;
	width: 200px;
	cursor: pointer;
	background-color: #c23b22;
	border: 3px solid darkred;
	color: white;
	font-size: 18px;
}

input[type=submit]:hover {
	background-color: #d84930;
	border: 3px solid #c23b22;
}

textarea:focus {
	border: 2px solid darkred;
}

.btn {
	box-sizing: border-box;
	margin: 10px;
	padding: 10px;
	border-radius: 4px;
	width: 200px;
	cursor: pointer;
	background-color: #c23b22;
	border: 3px solid darkred;
	color: white;
	font-size: 18px;
}

.btn:hover {
	background-color: #d84930;
	border: 3px solid #c23b22;
}

.navbar {
	background-color: #c23b22;
	border-bottom: 3px solid darkred;
	box-shadow: 0 8px 6px -4px rgb(39, 39, 39);
}

.socialIcon:hover {
	background-color: rgba(155, 152, 152, 0.466);
}

.homePara {
	font-size: 20px;
}

.sectionHeader {
	text-align: center;
	background-color: #c23b22;
	border: 3px solid darkred;
	color: white;
	text-shadow: 6px 6px 5px darkred;
}

.card {
	background-color: #c23b22;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.534);
	max-width: 500px;
}

.card-header {
	background-color: #992611;
}

.card-title {
	color: white;
}

.card-subtitle {
	color: grey;
}

.projectDesc {
	max-height: 30%;
}

.headerBox {
	background-color: rgb(44, 44, 44);
	height: 250px;
	display: flex;
	position: relative;
	margin: 0;
}

#headerText {
	color: white;
	font-size: 48px;
	text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.596);
	position: absolute;
	top: 50%;
	left: 5%;
}

#dateTime {
	color: white;
	font-size: 24px;
	position: absolute;
	top: 50%;
	left: 60%;
}

#contactForm {
	display: inline-flex;
	text-align: left;
	background-color: darkgrey;
}


@media screen and (max-width: 800px) {
	#dateTime {
		visibility: hidden;
	}
	#headerText {
		top: 38%;
	}
}